*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #301B3F;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: #151515;
  height: 70px;
}

.logo {
  width: 60px;
}

.nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

.nav-list ul li {
  list-style-type: none;
  margin-top: 20px;
  display: inline-block;
}

.nav-list ul li a {
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #3c415c;
  position: relative;
  /* padding: auto; */
  transition: background-color 0.3s;
}

.nav-list ul li a:hover {
  background-color: #151515;
}
.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  width: 860px;
  height: 500px;
  background-color: #3c415c;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jar {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

section h2 {
  text-align: left;
  color: white;
  margin-bottom: 2px;
  margin-left: 40px;
}

.one {
  display: flex;
  justify-content: end;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 40px;
  //background-color: red;
}

input {
  background-color: #b4a5a5;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}

label {
  color: white;
  display: block;
  text-align: center;
}

.dua {
  //padding: 40px;
  margin: 40px;
  margin-top: 0px;
}

.tiga {
  margin: 40px;
  margin-top: 0px;
}

.empat {
  margin: 40px;
  margin-top: 0px;
}

.tas {
  text-align: left;
  color: white;
  margin-bottom: 2px;
  margin-left: 50px;
}

.kotak {
  background: #b4a5a5;
  width: 750px;
  height: 234px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 40px;
}

.nama {
  /* background: red; */
}

.nama-saya {
  background-color: #d9d9d9;
  width: 700px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
}

#animated-button {
  width: 400px;
  height: 35px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  margin-top: 35px;
  font-size: 20px;
  background: #b4a5a5;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#animated-button:hover {
  background-color: #7e7e7e; /* Mengubah warna latar belakang saat hover */
  cursor: pointer;
}

#animated-button.clicked {
  background-color: #ffff; /* Mengubah warna latar belakang saat tombol diklik */
}

#animated-btn:hover {
  background-color: #7e7e7e; /* Mengubah warna latar belakang saat hover */
}

#animated-btn.clicked {
  background-color: #4caf50; /* Mengubah warna latar belakang saat tombol diklik */
}
