body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #301b3f;
}

header {
  text-align: center;
  background-color: #151515;
  height: 70px;
}

.logo {
  width: 60px;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  width: 860px;
  height: 500px;
  background-color: #3c415c;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jar {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

section h2 {
  text-align: left;
  color: white;
  margin-bottom: 2px;
  margin-left: 40px;
}

.one {
  display: flex;
  justify-content: end;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 40px;
  //background-color: red;
}

input {
  background-color: #b4a5a5;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
}

label {
  color: white;
  display: block;
  text-align: center;
}

.dua {
  //padding: 40px;
  margin: 40px;
  margin-top: 0px;
}

.tiga {
  margin: 40px;
  margin-top: 0px;
}

.empat {
  margin: 40px;
  margin-top: 0px;
}

.tas {
  text-align: left;
  color: white;
  margin-bottom: 2px;
  margin-left: 50px;
}

.kotak {
  background: #b4a5a5;
  width: 750px;
  height: 234px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 40px;
}

.nama {
  /* background: red; */
}

.nama-saya {
  background-color: #ffff;
  width: 700px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
}

/* .btn {
  width: 400px;
  height: 35px;
  margin-top: 13px;
  border-radius: 5px;
} */

.btn {
  width: 400px;
  height: 35px;
  margin: 0 auto; /* Ini akan membuat tombol berada di tengah secara horizontal */
  display: block; /* Ini diperlukan agar margin: auto; berfungsi */
  border-radius: 5px;
  margin-top: 25px;
  font-size: 20px;
}
